<launch>
 <include file="$(find openni_launch)/launch/openni.launch" pass_all_args="true">
        <arg name="depth_registration" value="true"/>

    </include>i

<!-- Tf publisher to account for the way the kinect is mount vertically on the robot-->
   <node pkg="tf" type="static_transform_publisher" name="camera_base_link_rotation"
        args="0 0 0 0 0 0 base_link camera_link 100" />
    <remap from="/rtabmap/proj_map" to="/map" />

    <include file="$(find rtabmap_ros)/launch/rtabmap.launch" pass_all_args="true">
        <arg name="rtabmap_args" value="--delete_db_on_start"/>
        <arg name="frame_id" value="base_link"/>

        <!--Needed arguments for external odometry-->
        <arg name="visual_odometry" value="true"/>
        <arg name="odom_topic" value="/odom"/>
        <arg name="approx_sync" value="true"/>

    </include>

</launch>
